header nav{
    background-color: #8ed684;
}
.card{
    height: 900px;
}
.bg-bluePersonal{
    background-color: #8ed684;
    text-align: center;
}
.bg-laranjaPersonal{
    color: #F4A623;
}
.bg-greenPersonal{
    background-color: #1aa732;
}
.text-brownPersonal{
    color: #5a1c14;
}
form.bg-bluePersonal:hover{
    background-color: #014c6d;
    color: white;
}